
/* start of customizing travel advisory admin page */
/* .travelAdvisory-block-content{
    padding: 0;
} */
.block-header.travelAdvisory-header{
    background: #30C78D;
}
.travelAdvisory-block{
    padding: 0;
}
/* #main-container > div > div > div.block-content.travelAdvisory-block-content > div > div.block-content.block-content-full.travelAdvisory-block > div{
    padding: 0 1.25rem;
} */
#main-container > div > div > div > div.block.block-rounded > div.block-content.block-content-full.travelAdvisory-block > div > div > div.form-group{
    padding: 0 1.25rem;
    box-shadow: 0 0 1px rgb(9 129 84);
}
#main-container > div > div > div.block-content.travelAdvisory-block-content > div > div.block-header.travelAdvisory-header > h5.block-title.travelAdvisory-page-title{
 color: #fff;   
 padding-left: 0rem;
}
#main-container > div > div > div.block-content.travelAdvisory-block-content > div > div.block-header.travelAdvisory-header > h5.travelAdvisory-date{
    color: #fff;
    margin-bottom: 0;
    font-size: 0.875rem;
}
.travelAdvisory-input {
    padding-top: 1rem;
}
.travelAdvisory-file-input{
    height: auto;
}
#main-container > div > div > div.block-content.travelAdvisory-block-content > div > div.block-content.block-content-full > div > div > div.form-group > form > div.travelAdvisory-input.travelAdvisory-file > label{
    padding-left: 0;
}

#main-container > div > div > div.block-content.travelAdvisory-block-content > div > div.block-content.block-content-full > div > div > div.form-group > form > div.travelAdvisory-input.travelAdvisory-country > label{
    padding-left: 0;
}
#main-container > div > div > div.block-content.travelAdvisory-block-content > div > div.block-content.block-content-full > div > div > div.form-group > form > div.travelAdvisory-input.travelAdvisory-upload-button{
    text-align: right;
}
#uploadBtn{
    background-color: #30C78D;
    border-color: #30C78D;
}
#uploadBtn:hover{
    background-color: #006A4E;
    border-color: #006A4E;
}
#main-container > div > div > div.block-content.travelAdvisory-block-content > div > div.block-content.block-content-full.travelAdvisory-block > div > div > div.content.travelAdvisory-history{
    margin: 0;
    padding: 0;
    width: 100% !important;
}
#main-container > div > div > div > div.block.block-rounded > div.block-content.block-content-full.travelAdvisory-block > div > div > div.content.travelAdvisory-history > div > div.block-header{
    text-align: center;
}
/* end of customizing travel advisory admin page */