@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

/* BUTTON SUCCESS COLOR */
.btn-success {
  background-color: #2aaa8a !important;
}
.badge-success {
  background-color: #2aaa8a !important;
}
.btn-outline-success {
  color: #2aaa8a;
  border-color: #2aaa8a;
}
.btn-outline-success:hover {
  color: #fff;
  background-color: #2aaa8a;
  border-color: #2aaa8a;
}

/*====================NEW MOD S========================*/

/*Floating Label S*/
.form-floating {
  position: relative;
}
.form-floating > .form-control {
  padding: 1rem 0.75rem;
}
.form-floating > .form-control,
.form-floating > .form-select {
  height: calc(3.5rem + 2px);
  line-height: 1.25;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-floating > .form-select {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
}
.form-floating > .form-control,
.form-floating > .form-select {
  height: calc(3.5rem + 2px);
  line-height: 1.25;
}
.form-floating > label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 1rem 0.75rem;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}
.form-floating > .form-control:focus,
.form-floating > .form-control:not(:placeholder-shown) {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}
/*::-webkit-input-placeholder {*/
/*    color: transparent !important;*/
/*}*/
.form-floating input::placeholder {
  color: transparent !important;
}
.form-floating > label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 1rem 0.75rem;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}
.form-floating > .form-control:focus,
.form-floating > .form-control:not(:placeholder-shown) {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
}
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  opacity: 0.65;
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}
.form-floating > .form-control:focus,
.form-floating > .form-control:not(:placeholder-shown) {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
}
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  opacity: 0.65;
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  opacity: 1;
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
  color: black;
}
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  opacity: 0.65;
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}
.form-floating > label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 1rem 0.75rem;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}
.form-floating > .form-select {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
}
.form-floating > .form-control,
.form-floating > .form-select {
  height: calc(3.5rem + 2px);
  /*line-height: 1.25;*/
  font-size: 1rem;
  line-height: 24px;
  font-weight: 600;
  color: #000000;
}
/*.form-select:focus {*/
/*    border-color: #86b7fe;*/
/*    outline: 0;*/
/*    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);*/
/*}*/
.form-select {
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  /*background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e);*/
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__placeholder {
  color: #000;
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  opacity: 1;
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
  /* font-size: 1rem; */
  font-weight: 500;
}
.form-floating > .form-control:focus,
.form-floating > .form-control:not(:placeholder-shown) {
  padding-top: 1.8rem;
  padding-bottom: 0.625rem;
  font-size: 1rem;
  line-height: 24px;
  font-weight: 600;
  color: #1f2877;
}

.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 57px !important;
  user-select: none;
  -webkit-user-select: none;
  padding-top: 1.4rem;
  padding-left: 0.2rem;
}
/*.select2-container--default .select2-selection--single .select2-selection__rendered {*/
/*    color: #444;*/
/*    line-height: 28px;*/
/*    font-size: 1rem;*/
/*    line-height: 24px;*/
/*    font-weight: 600;*/

/*}*/
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
  display: none;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  color: #1f2877 !important;
  line-height: 2.1rem !important;
}

.daterangepicker .drp-calendar.left {
  clear: none !important;
  font-family: "Rubik";
}
.daterangepicker .calendar-table th,
.daterangepicker .calendar-table td {
  font-size: 0.86rem;
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  opacity: 1;
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
  font-size: 1rem;
  font-weight: 500;
  /* font-size: 1rem; */
}
.section-tab-2 .nav-tabs .nav-link.active {
  background-color: transparent;
  color: #2aaa8a;
  font-weight: 600;
}

.section-tab-2 .nav-tabs .nav-link:hover {
  background-color: transparent;
  color: #2aaa8a;
}
.dropdown-btn {
  font-size: 1rem;
  line-height: 24px;
  font-weight: 600;
  color: #1f2877;
  height: 3.6rem;
  padding-top: 1rem;
}
.dropdown-btn::after {
  display: none !important;
}
/*Floating Label E*/

.search-input-group-wrap .dropdown-contain .dropdown-menu {
  width: 350px;
}

.dropdown-contain .dropdown-menu {
  -webkit-box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
  border: none;
  width: 100%;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
.theme-btn {
  font-size: 15px;
  color: #fff;
  line-height: 45px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #2aaa8a;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  display: inline-block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #2aaa8a;
  font-weight: 500;
  background-image: none !important;
}
.theme-btn:hover {
  background-color: #fff;
  color: #2aaa8a;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__placeholder {
  color: #999;
  font-weight: 100;
}
.select2-results__option {
  padding: 6px;
  user-select: none;
  -webkit-user-select: none;
  line-height: 1.33rem;
  color: black;
}
.select2-container--default .select2-results > .select2-results__options {
  max-height: 220px !important;
}
.hero-wrapper8 .hero-box {
  padding-top: 220px;
  padding-bottom: 0;
}
.hero-wrapper8 .search-fields-container {
  margin-bottom: -120px;
  position: relative;
  z-index: 1;
}
.search-fields-container {
  background-color: #fff;
  padding: 20px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.daterangepicker td.disabled,
.daterangepicker option.disabled {
  color: #999 !important;
  cursor: not-allowed !important;
  text-decoration: line-through;
}
.btn-group-sm > .btn,
.btn-sm {
  border: 1px solid;
}
.hero-box {
  z-index: 1 !important;
}
.section-tab-2 .nav-tabs .nav-link {
  padding-top: 0.1rem !important;
}
.select2-container--open .select2-dropdown {
  top: auto !important;
  bottom: 100% !important;
}
.custom-checkbox label {
  color: black;
  font-weight: 400;
}
.section-tab-3 .nav-tabs .nav-link.active {
  color: #fff;
  background-color: #2aaa8a;
  /* background-color: #2aaa8a; */
}
.section-tab-3 .nav-tabs .nav-link.active {
  color: #fff;
  background-color: #2aaa8a;
  /* background-color: #2aaa8a; */
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
}
.section-tab-3 .nav-tabs .nav-link {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  border: 0.1px solid #2aaa8a;
}
.section-tab-3 .nav-tabs .nav-link:hover {
  color: #fff;
  background-color: #2aaa8a;
  /* background-color: #2aaa8a; */
}
.section-tab-3 .nav-tabs .nav-link.active:hover {
  color: #fff;
  background-color: #2aaa8a;
  /*background-color: #2aaa8a;*/
}
.custom-checkbox input[type="checkbox"]:checked + label:before {
  background-color: #2aaa8a;
  border-color: #2aaa8a;
}
/*.select2-container--default .select2-selection--single .select2-selection__rendered {*/
/*    color: #444;*/
/*    */
/*}*/
button:focus {
  outline: 5px auto #2aaa8a !important;
}

.bootstrap-select .dropdown-toggle .filter-option {
  font-size: 1rem;
  font-weight: 600;
  color: #1f2877;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.section-tab-2 .nav-tabs .nav-link.active::after,
.section-tab-2 .nav-tabs .nav-link:hover::after {
  border-color: #2aaa8a;
}
.section-tab-2 .nav-tabs .nav-link.active::before,
.section-tab-2 .nav-tabs .nav-link:hover::before {
  background-color: #2aaa8a;
}
/*====================NEW MOD E=====================*/

body {
  font-family: "Inter", "Rubik", "Figtree", sans-serif !important;
}

@media screen and (max-width: 600px) {
  #blank_space {
    visibility: hidden;
    clear: both;
    display: none;
  }
  .hero-box {
    padding-top: 70px !important;
  }
}

/*Mobile App for Mobile Screen*/
@media (max-width: 629px) {
  img#img_app2 {
    display: none;
  }
  img#img_app1 {
    width: 70%;
  }
}
/*Mobile App for Mobile Screen E */

.accordion h5 {
  font-size: 0.96rem;
  font-weight: bold;
  color: #013220;
  margin: 0;
}
.accordion.border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

/* .accordion img{
    box-shadow:0 .125rem .25rem rgba(0,0,0,.075)
   box-shadow:0 .125rem .25rem rgba(0,0,0,.075)
} */

.whiteBlack {
  color: #222;
  background: #fff;
  font-weight: bold;
}
.accordion a {
  color: #013220;
}
.accordion p {
  color: #0d233e;
}
.plus-icon {
  background-color: #006a4e !important;
}
.minus-icon {
  background-color: #006a4e !important;
}

.bg-biman {
  color: #fff;
  background: #006a4e;
}

.with-border {
  border: 1px solid #c3c3c3;
}

.list-items-flush li {
  border-bottom: 1px solid #ededed;
}

.payment-img {
  vertical-align: middle;
  margin-right: 5px;
}

.main-menu-content ul li .dropdown-menu-item li a:hover {
  color: #2aaa8a;
  font-weight: 500;
}

.hero-box:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.1;
  background-color: #0d233e;
}

.search-fields-container {
  background-color: #fff;
  padding: 20px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  /* border-color: black; */
  margin-bottom: 0.3rem;
}
.search-fields-container {
  background-color: #fff;
  padding: 20px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  /* border-color: black; */
  margin-bottom: 0.3rem;
}

.hero-box {
  position: relative;
  width: 100%;
  /* z-index: 1; */
  padding-top: 110px;
  padding-bottom: 150px;
  background-size: cover;
  background-position: center;
  background-color: #00000033;
}

.card-item .card-body {
  padding: 25px 30px;
  min-height: 13rem;
  height: auto;
  max-height: auto;
  /* limit max height and adding dots starts */

  /* limit max height and adding dots ends */
}

/*
section.faq-area.padding-top-100px.padding-bottom-70px.text-center{
          background: radial-gradient(circle at 90%, #c2f7e9, rgb(145, 231, 210) 50%, #9aeed9e0 75%, #8ebeb4 100%);
} */

.faq-item > .title {
  text-align: center;
}

.hero-box {
  position: relative;
  width: 100%;
  /* z-index: 1; */
  padding-top: 110px;
  padding-bottom: 150px;
  background-size: cover;
  background-position: center;
  background-color: #00000033;
}

.card-item .card-body {
  padding: 25px 30px;
  min-height: auto;
  height: 12rem;
}

/* changing the radio button's color */
/*.section-tab-2 .nav-tabs .nav-link.active::before,*/
/*.section-tab-2 .nav-tabs .nav-link:hover::before {*/
/*    background-color: #2aaa8a;*/
/*}*/
/*.section-tab-2 .nav-tabs .nav-link.active::after,*/
/*.section-tab-2 .nav-tabs .nav-link:hover::after {*/
/*    border-color: #2aaa8a;*/
/*}*/
#back-to-top {
  background-color: #2aaa8a;
  color: #fff;
}
#back-to-top:hover {
  background-color: #006a4e;
  color: #fff;
  border-color: #006a4e;
}

.faq-icon-box a:hover {
  border-color: #20b2aa;
}
/* radio button color starts */
/*.section-tab-2 .nav-tabs .nav-link.active::before,*/
/*.section-tab-2 .nav-tabs .nav-link:hover::before {*/
/*    background-color: #2aaa8a;*/
/*}*/
/*.section-tab-2 .nav-tabs .nav-link.active::after,*/
/*.section-tab-2 .nav-tabs .nav-link:hover::after {*/
/*    border-color: #2aaa8a;*/
/*}*/
/* radio button color ends */

.select2.select2-container {
  height: auto !important;
  line-height: inherit !important;
  padding: 0px !important;
  font-size: 15px !important;
  color: #0d233e !important;
  border-color: rgba(128, 137, 150, 0.2) !important;
  box-shadow: none !important;
  transition: all 0.3s !important;
  background-color: #fff !important;
  box-sizing: border-box !important;
  display: inline-block !important;
  margin: 0 !important;
  position: relative !important;
  vertical-align: middle !important;
  font-weight: 400 !important;
  background-clip: padding-box !important;
  border: 1px solid #ced4da !important;
  border-radius: 0.25rem !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.select2.select2-container.select2-container--default {
  height: auto !important;
  line-height: inherit !important;
  padding: 0px !important;
  font-size: 15px !important;
  color: #0d233e !important;
  border-color: rgba(128, 137, 150, 0.2) !important;
  box-shadow: none !important;
  transition: all 0.3s !important;
  background-color: #fff !important;
  box-sizing: border-box !important;
  display: inline-block !important;
  margin: 0 !important;
  position: relative !important;
  vertical-align: middle !important;
  font-weight: 400 !important;
  background-clip: padding-box !important;
  border: 1px solid #ced4da !important;
  border-radius: 0.25rem !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.select2.select2-container.select2-container--default.select2-container--below.select2-container--open {
  height: auto !important;
  line-height: inherit !important;
  padding: 0px !important;
  font-size: 15px !important;
  color: #0d233e !important;
  border-color: rgba(128, 137, 150, 0.2) !important;
  box-shadow: none !important;
  transition: all 0.3s !important;
  background-color: #fff !important;
  box-sizing: border-box !important;
  display: inline-block !important;
  margin: 0 !important;
  position: relative !important;
  vertical-align: middle !important;
  font-weight: 400 !important;
  background-clip: padding-box !important;
  border: 1px solid #aaa !important;
  border-radius: 0.25rem !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.select2.select2-container.select2-container--default.select2-container--below.select2-container--focus {
  height: auto !important;
  line-height: inherit !important;
  padding: 0px !important;
  font-size: 15px !important;
  color: #0d233e !important;
  border-color: rgba(128, 137, 150, 0.2) !important;
  box-shadow: none !important;
  transition: all 0.3s !important;
  background-color: #fff !important;
  box-sizing: border-box !important;
  display: inline-block !important;
  margin: 0 !important;
  position: relative !important;
  vertical-align: middle !important;
  font-weight: 400 !important;
  background-clip: padding-box !important;
  border: 1px solid #aaa !important;
  border-radius: 0.25rem !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.select2-container--default .select2-selection--single {
  border: none !important;
}
/* drop down color starts */
.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #2aaa8a !important;
}
/* drop down color ends */

/* section color round-trip-flight starts */
section.destination-area.section--padding {
  background-color: #f5f7fc;
}
section.hotel-area.section-bg.section-padding.overflow-hidden.padding-right-100px.padding-left-100px {
  background-color: #ffffff;
}
section.testimonial-area.section-padding {
  background-color: #f5f7fc;
}

/* section color round-trip-flight ends */

/* multi-city cross button color starts */
.multi-flight-remove:hover {
  background-color: #2aaa8a;
  color: #fff;
}
/* multi-city cross button color ends */

/* widget background starts */
.section-tab .nav-tabs .nav-link.d-flex.align-items-center {
  background-color: #2aaa8ad4;
  padding: 9px 20px 9px 20px !important;
  /*background-color: #2aaa8a;*/
}
.section-tab .nav-tabs .nav-link.d-flex.align-items-center.active {
  color: #2aaa8a;
  background-color: #fff;
}
/* widget background ends */

/* start of travel-advisory card customisation */
#travelAdvisory .card .card-header {
  text-align: center;
}

#travelAdvisory .criteria-list {
  border-bottom: 1px solid rgba(128, 137, 150, 0.2);
}
#travelAdvisory .criteria-head {
  font-size: 0.8rem;
}
#travelAdvisory .criteria-body {
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
}
#travelAdvisoryCollapse1
  > div
  > div
  > div
  > div
  > div
  > div
  > div:nth-child(n)
  > div
  > div.card-header {
  background: #006a4e;
  color: #fff;
  padding-top: 0.5rem;
}
#travelAdvisoryCollapse1
  > div
  > div
  > div
  > div
  > div
  > div
  > div:nth-child(n)
  > div
  > div.card-header
  > label {
  color: #fff;
}
#travelAdvisoryCollapse1
  > div
  > div
  > div
  > div
  > div
  > div
  > div:nth-child(n)
  > div
  > div.card-body
  > ul {
  padding-top: 0.5rem;
}

#travelAdvisoryCollapse1
  > div
  > div
  > div
  > div
  > div
  > div
  > div:nth-child(n)
  > div
  > div.card-body
  > ul
  > li:nth-child(n)
  > span.col-sm-8.col-md-8.criteria-head
  > span {
  font-size: 0.6rem;
}
.page-title {
  text-align: justify;
}
.page-header-title {
  font-size: 1.5rem;
}
.travelAdvisory-svg {
  fill: #f5f7fc;
}
.advisory-btn {
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #2aaa8a;
  border-color: #2aaa8a;
  width: 3rem;
  height: 3rem;
}
.middle-text {
  text-align: center;
}
.middle-align {
  justify-content: center;
  display: flex;
}
.custom-padding {
  padding-top: 50px;
}
/* end of travel-advisory card customisation */
/* start of cusomizing marquee */
.scroll-text {
  height: 1.5em;
  overflow: hidden;
}
.scroll-text ul {
  /*width: 800px;*/
  height: 100px;
  overflow: hidden;
  margin: 0;
}
.scroll-text ul li {
  height: 1.5em;
}
.scroll-text ul li a {
  color: #0d233e;
  font-size: 0.9rem;
}
/* end of customizing marquee */

/* start of customizing widget */
#collapseThree > div {
  margin: 0;
}
#collapseThree > div > div {
  padding: 0;
}
#collapseThree > div > div > div > div > div > input {
  padding-left: 1rem;
  font-size: 0.8rem;
}
.custom-icon {
  z-index: 999;
  font-size: 1.4rem !important;
}

.custom-button {
  color: #fff;
  background: linear-gradient(150deg, #2aaa8a 50%, #13725b 51%);
  background-color: #39bb9a;
  background-size: 200% 200%;
  background-position: 30% 0;
  border-color: #2aaa8a;
}
.custom-button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 0 3px #000;
  text-shadow: 0 0 3px #000;
}
.custom-widget-ul {
  text-align: center;
  align-items: center;
  justify-content: center;
}
.select-contain .dropdown-toggle {
  padding: 17px 20px;
  height: calc(3.5rem + 2px);
}
/*@media (max-width: 479px) {*/
/*    .section-tab .nav-tabs .custom-widget-li {*/
/*        !*width: 100%;*!*/
/*    }*/
/*}*/
@media (max-width: 479px) {
  .hero-content .section-heading .sec__title {
    font-size: 1.5rem;
  }
  .section-tab .nav-tabs .nav-link {
    /*padding: 9px 20px 9px 20px !important;*/
  }
}

/* end of customizing widget */

/* Change faq icons style starts */
.faq-icons {
  font-size: 2rem;
}
/* Change faq icons style ends */
/* start of custmomizing loader color */
#preloader > div > img {
  height: 3.5rem;
  width: 3.5rem;
}
.spinner .bounce3 {
  background-color: red;
}
/* end of customizing loadeer color */
/* terms image starts*/
.gradient-bg-gray-terms {
  background-image: url(../images/terms/terms.jpg);
}
.gradient-bg-gray-privacy {
  background-image: url(../images/terms/privacy.jpg);
}
.section-heading .sec__title-terms {
  color: #fbffff;
  font-size: 40px;
  font-weight: 700;
}
.section-heading .sec__desc-terms {
  color: #fbffff;
  font-size: 20px;
  line-height: 30px;
}
/* terms image ends*/

/* review header starts */
.quote-header {
  color: #0d233e;
  text-align: center;
  padding-bottom: 1rem;
}
/* review header ends */

/* start of custmomizing loader color */
.spinner .bounce3 {
  background-color: red;
}
/* end of customizing loadeer color */

/* cookies consent csss 044 */
/*
.js-cookie-consent{
    position: absolute;
    top: 0px;
    padding: 1rem;
    width: 100%;
    z-index: 9999;
    background-color: #00bd8e;
    border-color: #00bd8e;
    border: solid 1px;
    color: #fff;
} */

.cookie-disclaimer {
  background: #000000;
  color: #fff;
  opacity: 0.9;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1000;
  height: 8rem;
  position: fixed;
}
.cookie-disclaimer .container {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.cookie-disclaimer .cookie-close {
  float: right;
  padding: 10px;
  cursor: pointer;
}

/* destinations button starts */
.theme-btn-transparent-destination {
  background-color: #fff;
  width: 100%;
  text-align: center;
}
/* destinations button ends */

/* start of offer section modification */
.offer-card {
  box-shadow: 0 0 0px rgb(63 172 97);
}
.offer-card:hover {
  box-shadow: 0 0 9px rgb(63 172 97);
}
.offer-card-body {
  height: 8.6rem !important;
  backdrop-filter: blur(1px);
}
.card-item .offer-img img {
  min-height: 15rem !important;
}
.offer-page-img img {
  height: 20rem;
  width: 100%;
}
/* end of offer section modification */

/* datepicker 044*/
.daterangepicker .calendar-table th,
.daterangepicker .calendar-table td {
  font-family: "Rubik";
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  min-width: 32px;
  width: 40px;
  height: 27px;
  line-height: 24px;
  font-size: 0.9rem;
  border-radius: 4px;
  border: 1px solid transparent;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 100;
}
.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #357ebd;
  border-color: transparent;
  color: #fff;
  font-size: 1rem;
}
.daterangepicker .drp-selected {
  display: inline-block;
  font-size: 1.1rem;
  color: black;
  font-style: normal;
}
.daterangepicker .drp-buttons .btn {
  margin-left: 8px;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 4px 8px;
}
/* datepicker end 044*/
.bg-silver {
  background: #cccccc;
  color: #666666;
}
.bg-gold {
  background: #cc9933;
  color: #665300;
}

/* start of customizing navbar */
@media (min-width: 479px) {
  .main-menu-content ul li .mega-menu {
    left: -180px;
  }

  .main-menu-content ul li .beta-menu {
    left: -80px;
  }
}
.header-top-content .list-items li a:hover {
  color: #2aaa8a !important;
}
/* end of customizing navbar */

.testimonial-card .testi-desc-box {
  text-align: justify;
}
.custom-footer-title {
  color: #2aaa8a;
  font-weight: 600;
}

/* unvisited link */
a.faq-links:link {
  color: #2aaa8a !important;
  text-decoration: underline;
}

/* visited link */
a.faq-links:visited {
  color: red !important;
}
.nowrap-th {
  white-space: nowrap;
}
.custom-top-left-radius {
  border-top-left-radius: 10px;
}
.custom-top-right-radius {
  border-top-right-radius: 10px;
}
.download-icon-color {
  color: #fff !important;
}

html {
  scroll-behavior: smooth;
}
.normal-text {
  font-weight: normal !important;
}
.custom-header {
  text-align: center;
  background: #2aaa8a !important;
  color: #fff;
  padding-top: 0.5rem;
  font-size: 1.1rem;
}
#globalOfficeCollapse11
  > div
  > div
  > div:nth-child(n)
  > div
  > div.card-body
  > ul
  > li:nth-child(n):not(:last-child) {
  border-bottom: 1px solid rgba(128, 137, 150, 0.2);
}

.add-person-btn {
  color: #0d233e;
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  border: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.add-person-btn {
  background-color: #2aaa8a;
  color: #fff;
}

.multi-person-delete-wrap {
  display: none;
}

.multi-person-remove {
  color: #0d233e;
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  border: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.multi-person-remove {
  background-color: red;
  color: #fff;
}

@media (min-width: 479px) {
  .refund-submit-btn {
    text-align: right;
  }
}

@media (max-width: 479px) {
  .refund-submit-btn {
    text-align: center;
  }
}

/* body > section.contact-area.section--padding > div > div:nth-child(2) > div > div:nth-child(1) > div.form-content.multi-person-wrap > div > form > div:nth-child(3) > div.col-lg-4.responsive-column > div > div > div > div > button{
    padding-left: 2.5rem;
} */

#overview
  > div
  > div
  > form
  > div:nth-child(3)
  > div.col-lg-4.responsive-column
  > div
  > div
  > div
  > div
  > button {
  padding-left: 2.5rem;
}

/* calender */
.fc-event .fc-content {
  position: relative;
  z-index: 2;
  color: white;
}
.nav-tabs .custom-link {
  background: #d3d3d3;
  font-weight: 500;
  color: olive;
}
.marquee {
  /* width: 450px; */
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
}

.marquee .custom_div {
  display: inline-block;
  width: max-content;

  padding-left: 100%;
  /* show the marquee just outside the paragraph */
  will-change: transform;
  animation: marquee 85s linear infinite;
}

.marquee .custom_div:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

/* Respect user preferences about animations */

@media (prefers-reduced-motion: reduce) {
  .marquee .custom_div {
    animation-iteration-count: 1;
    animation-duration: 0.01;
    /* instead of animation: none, so an animationend event is
    * still available, if previously attached.
    */
    width: auto;
    padding-left: 0;
  }
}

.news_ticker {
  height: 1.5em;
  font-size: 0.9rem;
  color: #0d233e;
}

/*footer image 044 16Apr22*/
.footer-area:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/bg_3.jpg);
  background-size: cover;
  background-position: center;
  opacity: 1 !important;
}

.cta-svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  fill: #f9fafc;
  stroke: none;
}

/* FOOTER MD CEO LINK BLACK FONT BOLD S*/
.list-items li a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: black;
}

.term-box .list-items li {
  margin-right: 12px;
  padding-right: 12px;
  position: relative;
  margin-bottom: 0;
  font-weight: 600;
}
/* FOOTER MD CEO LINK BLACK FONT BOLD E*/

/*==== bread-bg-loyalty-club ======*/
.bread-bg-loyalty-club {
  background-image: url("../images/loyalty/image-top/loyalty.jpg");
}

/*==== bread-bg-loyalty-register ======*/
.bread-bg-loyalty-register {
  background-image: url("../images/loyalty/image-top/register.jpg");
}

/*==== bread-bg-loyalty-terms ======*/
.bread-bg-loyalty-terms {
  background-image: url("../images/loyalty/image-top/terms.jpg");
}

/*==== bread-bg-loyalty-earn ======*/
.bread-bg-loyalty-earn {
  background-image: url("../images/loyalty/image-top/earn.jpg");
}

/*==== bread-bg-loyalty-redeem ======*/
.bread-bg-loyalty-redeem {
  background-image: url("../images/loyalty/image-top/redeem.jpg");
}

/*==== bread-bg-loyalty-faq ======*/
.bread-bg-loyalty-faq {
  background-image: url("../images/loyalty/image-top/faq.jpg");
}

/*==== bread-bg-loyalty-lounge ======*/
.bread-bg-loyalty-lounge {
  background-image: url("../images/loyalty/image-top/lounge.jpg");
}

.bread-bg-special-assistance {
  background-image: url("../images/misc/special-assistance.png");
}

.bg-silver {
  background: #cccccc !important;
  color: #666666;
}
.bg-gold {
  background: #cc9933 !important;
  color: #665300;
}

.testimonial-card > img {
  height: 140px;
  object-fit: cover;
  object-position: center 20%;
}
